{{#foreach posts}}
  <a href="{{url}}" class="product">
    {{#if feature_image}}
      <picture class="lozad">
        <source srcset="{{feature_image}}.webp?webp=1&width=320" type="image/webp">
        <source srcset="{{feature_image}}?width=320">
      </picture>
    {{else}}
      <img class="lozad" data-src="{{asset "logo/icon.svg"}}" style="color:#005bac">
    {{/if}}
    <div class="title">
      <h3>{{ title }}</h3>
    </div>
  </a>
{{/foreach}}
