{{#if feature_image}}
	<a href="{{url}}" class="article" style="background-image: url('{{feature_image}}')">
{{else}}
	<a href="{{url}}" class="article noimg">
{{/if}}
	<div class="meta">
		<small>{{date published_at format="YYYY年M月D日"}}</small>
		<br>
		<strong>{{title}}</strong>
		<div class="author">
			{{#primary_author}}
				{{#if profile_image}}
					<img src="{{profile_image}}" loading="lazy">
				{{else}}
					<img src="https://q.trap.jp/api/1.0/public/icon/traP" loading="lazy">
				{{/if}}
				<span>{{name}}</span>
			{{/primary_author}}
		</div>
	</div>
</a>
