<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="theme-color" content="#005BAC">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
		{{#is "post,page"}}
			{{post.title}} | {{@site.title}}
		{{else}}
			{{meta_title}}
		{{/is}}
	</title>
	<link rel="preconnect dns-prefetch" href="https://q.trap.jp/" crossorigin>
	{{#is "home"}}
		<link rel="preconnect dns-prefetch" href="https://platform.twitter.com" crossorigin>
	{{/is}}
	{{ghost_head}}
</head>
<body>
	<header>
		<a class="circleLogo" href="/">
			<img src="{{asset "logo/full_blue.svg"}}" decoding="async" alt="traP full logo" width="343" height="48">
		</a>
		{{navigation}}
	</header>
	{{{body}}}
	<section class="sitemap">
		<a href="/page/1/">記事一覧</a>
		<a href="/tag/">タグ一覧</a>
		<a href="/about-google-analytics/">Google アナリティクスについて</a>
		<a href="/specified-commercial-transactions/">特定商取引法に基づく表記</a>
	</section>
	<footer>
		<div class="copy">
			<a class="circleLogo" href="/">
				<img class="lozad" data-src="{{asset "logo/full_white.svg"}}" alt="traP full logo" width="343" height="48">
			</a>
			<small>&copy; 2015-<span></span> Digital Creators Club traP</small>
		</div>
		<address>
			{{#if @site.twitter}}
				<a target="_blank" href="{{twitter_url @site.twitter}}" class="twitter-footer" rel="noopener">
					<span class="icon-fa" data-name="twitter"></span>
				</a>
			{{/if}}
			{{#if @site.facebook}}
				<a target="_blank" href="{{facebook_url @site.facebook}}" class="facebook-footer" rel="noopener">
					<span class="icon-fa" data-name="facebook-f"></span>
				</a>
			{{/if}}
			<a target="_blank" href="https://www.youtube.com/channel/UCyQb-L_oCtP-NtBJQ28D4lA" class="youtube-footer" rel="noopener">
				<span class="icon-fa" data-name="youtube"></span>
			</a>
		</address>
	</footer>
	{{ghost_foot}}
</body>
</html>
