<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="theme-color" content="#005BAC">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
		{{#is "post,page"}}
			{{post.title}} | {{@site.title}}
		{{else}}
			{{meta_title}}
		{{/is}}
	</title>
	{{ghost_head}}
</head>
<body>
	<header>
		<a class="circleLogo" href="/">
			<img src="{{asset "logo/full_blue.svg"}}">
		</a>
		{{navigation}}
	</header>
	{{{body}}}
	<section id="sitemap">
		<div>
			<h1>活動の紹介</h1>
			<ul>
				<li><a href="/about/">traPについて</a></li>
				<li><a href="/sound/">サウンド班</a></li>
				<li><a href="/graphics/">グラフィック班</a></li>
				<li><a href="/program/">プログラミング班</a></li>
			</ul>
		</div>
		<div>
			<h1>カテゴリ</h1>
			<ul>
				<li><a href="/tag/news/">お知らせ</a></li>
				<li><a href="/tag/works/">作品紹介</a></li>
				<li><a href="/page/1/">ブログ記事</a></li>
			</ul>
		</div>
		<div>
			<h1>タグ</h1>
			<ul>
				{{#get "tags" filter="slug:[advent-calendar-2017, advent-calendar-2018, welcome-relay-2018, welcome-relay-2019, event-report]"}}
					{{#foreach tags}}
						<li><a href="{{url}}">{{name}}</a></li>
					{{/foreach}}
				{{/get}}
			</ul>
		</div>
	</section>
	<footer>
		<div class="copy">
			<a class="circleLogo" href="/">
				<img src="{{asset "logo/full_white.svg"}}">
			</a>
			<small>&copy; 2015-<span></span> traP TokyoTech</small>
		</div>
		<address>
			{{#if @site.twitter}}
				<a target="_blank" href="{{twitter_url @site.twitter}}" class="twitter-footer">
					<i class="fa fa-twitter" aria-hidden="true"></i>
				</a>
			{{/if}}
			{{#if @site.facebook}}
				<a target="_blank" href="{{facebook_url @site.facebook}}" class="facebook-footer">
					<i class="fa fa-facebook" aria-hidden="true"></i>
				</a>
			{{/if}}
			<a target="_blank" href="https://www.youtube.com/channel/UCyQb-L_oCtP-NtBJQ28D4lA" class="youtube-footer">
				<i class="fa fa-youtube" aria-hidden="true"></i>
			</a>
		</address>
	</footer>
	{{ghost_foot}}
</body>
</html>
