<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="theme-color" content="#005BAC">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
		{{#is "post,page"}}
			{{post.title}} | {{@site.title}}
		{{else}}
			{{meta_title}}
		{{/is}}
	</title>
	<link rel="preconnect dns-prefetch" href="https://q.trap.jp/" crossorigin>
	{{#is "home"}}
		<link rel="preconnect dns-prefetch" href="https://platform.twitter.com" crossorigin>
	{{/is}}
	{{ghost_head}}
</head>
<body>
	<header>
		<a class="circleLogo" href="/">
			<img src="{{asset "logo/full_blue.svg"}}" decoding="async" alt="traP full logo">
		</a>
		{{navigation}}
	</header>
	{{{body}}}
	<section class="sitemap">
		<a href="/page/1/">記事一覧</a>
		<a href="/tags/">タグ一覧</a>
		<a href="/about-google-analytics/">Google アナリティクスについて</a>
	</section>
	<footer>
		<div class="copy">
			<a class="circleLogo" href="/">
				<img class="lozad" data-src="{{asset "logo/full_white.svg"}}" alt="traP full logo">
			</a>
			<small>&copy; 2015-<span></span> traP TokyoTech</small>
		</div>
		<address>
			{{#if @site.twitter}}
				<a target="_blank" href="{{twitter_url @site.twitter}}" class="twitter-footer">
					<i class="fab fa-twitter" aria-hidden="true"></i>
				</a>
			{{/if}}
			{{#if @site.facebook}}
				<a target="_blank" href="{{facebook_url @site.facebook}}" class="facebook-footer">
					<i class="fab fa-facebook-f" aria-hidden="true"></i>
				</a>
			{{/if}}
			<a target="_blank" href="https://www.youtube.com/channel/UCyQb-L_oCtP-NtBJQ28D4lA" class="youtube-footer">
				<i class="fab fa-youtube" aria-hidden="true"></i>
			</a>
		</address>
	</footer>
	{{ghost_foot}}
</body>
</html>
