{{!< default}}
{{#get "posts" filter="tag:news" limit="6"}}
	<section id="featured">
		<div class="swiper-wrapper">
				{{#foreach posts}}
					<div class="swiper-slide">
						{{#if feature_image}}
							{{#unless @index }}
							<a href="{{url}}" style="background-image: url('{{feature_image}}')">
							{{else}}
							<a href="{{url}}" class="lozad" data-background-image="{{feature_image}}">
							{{/unless}}
						{{else}}
							<a href="{{url}}" class="noimg lozad">
						{{/if}}
								<div>
									<h1>{{title}}</h1>
									<small>{{date published_at format="YYYY年M月D日"}}</small>
								</div>
							</a>
					</div>
				{{/foreach}}
		</div>
		<div class="swiper-pagination"></div>

		<div class="swiper-button-prev"></div>
		<div class="swiper-button-next"></div>
	</section>
{{/get}}
<section id="about">
	<h1>traPについて</h1>
	<h2>『デジタル創作同好会traP』は、<br>東京工業大学で活動するデジタル創作・プログラミング系サークルです。</h2>
	<h3>ゲーム制作を中心に、アプリ、音楽（DTM）、グラフィック（イラスト、3Dモデル、ドット絵、動画）などのクリエイティブ活動の他、競技プログラミング（競プロ）やCTFも行っています。</h3>
	<a href="/about/" class="readmore">もっと詳しく！</a>
</section>
<section id="pickup">
	<h1>活動ピックアップ</h1>
	<div class="pickup-series">
		<h2>ゲーム/アプリ</h2>
		<div class="pickup-entries">
			<a href="/post/693/" class="product">
				<img class="lozad" data-src="/content/images/2019/04/flythmg3.png?size=256">
				<div>
					<h3>Flythm</h3>
					<p>ブラウザで遊べる音楽ゲーム</p>
				</div>
			</a>
			<a href="/post/480/" class="product">
				<img class="lozad" data-src="/content/images/2017/12/migawari-2.png?size=256">
				<div>
					<h3>NinjaFlicker</h3>
					<p>忍者をテーマにしたスマホ向けアクションゲーム</p>
				</div>
			</a>
			<a href="/post/250/" class="product">
				<img class="lozad" data-src="/content/images/2017/10/logo.png?size=256">
				<div>
					<h3>工大祭アプリ</h3>
					<p>工大祭の情報を発信するスマホ向けアプリケーション</p>
				</div>
			</a>
		</div>
	</div>
	<div class="pickup-series">
		<h2>グラフィック</h2>
		<div class="pickup-entries">
			<a href="/post/349/" class="product">
				<img class="lozad" data-src="/content/images/2017/12/tsuta.png?size=256">
				<div>
					<h3>whiteonion</h3>
					<p>今日は皆さんに私がチズケを破壊した経緯をお話したいと思います</p>
				</div>
			</a>
			<a href="/post/293/" class="product">
				<img class="lozad" data-src="/content/images/2017/11/traP_M3-jacket_-----2-.png?size=256">
				<div>
					<h3>neg</h3>
					<p>CDジャケットイラストメイキング</p>
				</div>
			</a>
			<a href="/post/271/" class="product">
				<img class="lozad" data-src="/content/images/2017/11/----3.png?size=256">
				<div>
					<h3>KNJ</h3>
					<p>イラストメイキング</p>
				</div>
			</a>
		</div>
	</div>
	<div class="pickup-series">
		<h2>サウンド</h2>
		<div class="pickup-entries">
			<a href="/post/473/" class="product">
				<img class="lozad" data-src="/content/images/2017/12/cubaseotita.png?size=256">
				<div>
					<h3>xylo</h3>
					<p>曲</p>
				</div>
			</a>
			<a href="/post/111/" class="product">
				<img class="lozad" data-src="/content/images/2016/12/bunbun.png?size=256">
				<div>
					<h3>uynet</h3>
					<p>MSGSで無課金DTMする人</p>
				</div>
			</a>
			<a href="/post/193/" class="product">
				<img class="lozad" data-src="/content/images/2017/04/header.png?size=256">
				<div>
					<h3>clk</h3>
					<p>ディストーション(Distortion)</p>
				</div>
			</a>
		</div>
	</div>
	<div class="pickup-series">
		<h2>大会出場</h2>
		<div class="pickup-entries">
			<a href="/post/499/" class="product">
				<img class="lozad" data-src="/content/images/2017/12/IMG_1460.jpg?size=256">
				<div>
					<h3>ICPC World Finals 2018</h3>
					<p>競技プログラミング</p>
				</div>
			</a>
			<a href="/post/167/" class="product">
				<img class="lozad" data-src="/content/images/2017/03/C6Hn3ZSVUAAX2PY.jpg?size=256">
				<div>
					<h3>サイバーコロッセオ×SECCON 2016</h3>
					<p>CTFイベント</p>
				</div>
			</a>
			<a href="/post/496/" class="product">
				<img class="lozad" data-src="/content/images/2018/02/git-challenge-8.jpg?size=256">
				<div>
					<h3>git challenge #8</h3>
					<p>「Git」を利用した競技型技術イベント</p>
				</div>
			</a>
		</div>
	</div>
</section>
<section id="postlist">
	<h1>ブログへの投稿</h1>
	<div class="articles">
		{{#get "posts" include="authors" limit="6"}}
			{{#foreach posts}}
				{{> post-link}}
			{{/foreach}}
		{{/get}}
	</div>
	<div class="readmore-container">
		<a href="/page/1/" class="readmore">記事一覧へ</a>
	</div>
</section>
<section id="news">
	<h1>最新情報</h1>
	<div class="news-elements">
		<div class="headline">
			{{#get "posts" filter="tag:news" limit="6"}}
				{{#foreach posts}}
					<a href="{{url}}" class="headline-entry">
					{{#if feature_image}}
						<img class="lozad" data-src="{{feature_image}}">
					{{else}}
						<img class="lozad" data-src="{{asset "logo/icon_blue.svg"}}">
					{{/if}}
						<div class="headline-text">
							<small>{{date published_at format="YYYY年M月D日"}}</small>
							<span>{{title}}</span>
						</div>
					</a>
				{{/foreach}}
			{{/get}}
		</div>
		<div>
			<a class="twitter-timeline" data-height="500" href="https://twitter.com/traPtitech">Tweets by traPtitech</a>
			<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		</div>
	</div>
</section>
