{{!< default}}
{{#get "posts" filter="tag:news" limit="4"}}
	<section id="featured" class="swiper-container">
		<div class="swiper-wrapper">
				{{#foreach posts}}
					<div class="swiper-slide">
						<a href="{{url}}">
							{{#if feature_image}}
								{{#if @first }}
								<img src="{{feature_image}}" decoding="async">
								{{else}}
								<img data-src="{{feature_image}}" class="swiper-lazy">
								<div class="swiper-lazy-preloader"></div>
								{{/if}}
							{{else}}
								<img data-src="{{asset "logo/icon_blue.svg"}}" class="swiper-lazy">
								<div class="swiper-lazy-preloader"></div>
							{{/if}}
							<div class="title">
								<p>{{date published_at format="YYYY年M月D日"}}</p>
								<h1>{{title}}</h1>
							</div>
						</a>
					</div>
				{{/foreach}}
		</div>
		<div class="swiper-pagination"></div>

		<div class="swiper-button-prev"></div>
		<div class="swiper-button-next"></div>
	</section>
{{/get}}
<section id="about">
	<h1>traPについて</h1>
	<h2>『デジタル創作同好会traP』は、<br>東京工業大学で活動するデジタル創作・プログラミング系サークルです。</h2>
	<h3>ゲーム制作を中心に、アプリ、音楽（DTM）、グラフィック（イラスト、3Dモデル、ドット絵、動画）などのクリエイティブ活動の他、競技プログラミング（競プロ）やCTFも行っています。</h3>
	<a href="/about/" class="readmore">もっと詳しく！</a>
</section>
<section id="pickup">
	<h1>活動ピックアップ</h1>
	<div class="pickup-series">
		<h2>プロジェクト</h2>
		<div class="pickup-entries">
			{{#get "posts" filter="tag:#pickups-projects" limit="3"}}
				{{#foreach posts}}
					{{> pickups}}
				{{/foreach}}
			{{/get}}
		</div>
	</div>
	<div class="pickup-series">
		<h2>アルゴリズム班</h2>
		<div class="pickup-entries">
			{{#get "posts" filter="tag:#pickups-algorithm" limit="3"}}
				{{#foreach posts}}
					{{> pickups}}
				{{/foreach}}
			{{/get}}
		</div>
	</div>
	<div class="pickup-series">
		<h2>グラフィック班</h2>
		<div class="pickup-entries">
			{{#get "posts" filter="tag:#pickups-graphics" limit="3"}}
				{{#foreach posts}}
					{{> pickups}}
				{{/foreach}}
			{{/get}}
		</div>
	</div>
	<div class="pickup-series">
		<h2>サウンド班</h2>
		<div class="pickup-entries">
			{{#get "posts" filter="tag:#pickups-sound" limit="3"}}
				{{#foreach posts}}
					{{> pickups}}
				{{/foreach}}
			{{/get}}
		</div>
	</div>
	<div class="pickup-series">
		<h2>SysAd班</h2>
		<div class="pickup-entries">
			{{#get "posts" filter="tag:#pickups-sysad" limit="3"}}
				{{#foreach posts}}
					{{> pickups}}
				{{/foreach}}
			{{/get}}
		</div>
	</div>
	<div class="pickup-series">
		<h2>CTF班</h2>
		<div class="pickup-entries">
			{{#get "posts" filter="tag:#pickups-ctf" limit="3"}}
				{{#foreach posts}}
					{{> pickups}}
				{{/foreach}}
			{{/get}}
		</div>
	</div>
</section>
<section id="postlist">
	<h1>ブログへの投稿</h1>
	<div class="articles">
		{{#get "posts" include="authors" limit="6"}}
			{{#foreach posts}}
				{{> post-link}}
			{{/foreach}}
		{{/get}}
	</div>
	<div class="readmore-container">
		<a href="/page/1/" class="readmore">記事一覧へ</a>
	</div>
</section>
<section id="news">
	<h1>最新情報</h1>
	<div class="news-elements">
		<div class="headline">
			{{#get "posts" filter="tag:news" limit="6"}}
				{{#foreach posts}}
					<a href="{{url}}" class="headline-entry">
					{{#if feature_image}}
						<img class="lozad" data-src="{{feature_image}}">
					{{else}}
						<img class="lozad" data-src="{{asset "logo/icon_blue.svg"}}">
					{{/if}}
						<div class="headline-text">
							<small>{{date published_at format="YYYY年M月D日"}}</small>
							<span>{{title}}</span>
						</div>
					</a>
				{{/foreach}}
			{{/get}}
		</div>
		<div>
			<a class="twitter-timeline" data-height="500" href="https://twitter.com/traPtitech">Tweets by traPtitech</a>
			<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		</div>
	</div>
</section>
