{{!< default}}
<section id="listhead">
	{{#is "author"}}
		{{#if author.profile_image}}
			<img src="{{author.profile_image}}">
		{{else}}
			<img src="https://q.trap.jp/api/1.0/public/icon/traP">
		{{/if}}
	{{/is}}
	<div>
		{{#is "author"}}
			{{#author}}
				<h1>
					{{name}}
					{{> author-link}}
				</h1>
				<p>{{bio}}</p>
			{{/author}}
		{{/is}}
		{{#is "tag"}}
			<h1>{{tag.name}}</h1>
		{{/is}}
		{{^is "author,tag"}}
			<h1>記事一覧</h1>
		{{/is}}
	</div>
</section>
<section id="postlist">
	{{#is "author"}}
		<h1>{{primary_author.name}}の書いた記事</h1>
	{{/is}}
	{{#is "tag"}}
		<h1>{{tag.name}}に関する記事</h1>
	{{/is}}
	<div class="articles">
		{{#foreach posts}}
			{{> post-link}}
		{{/foreach}}
	</div>
	{{pagination}}
</section>
