{{#foreach posts}}
  <a href="{{url}}">
    {{#if feature_image}}
      <picture class="lozad" data-alt="{{title}} feature image">
        <source srcset="{{feature_image}}.avif?avif=1&width=320" type="image/avif" width="320">
        <source srcset="{{feature_image}}.webp?webp=1&width=320" type="image/webp" width="320">
        <source srcset="{{feature_image}}?width=320" width="320">
      </picture>
    {{else}}
      <img class="lozad" data-src="{{asset "logo/icon_blue.svg"}}" alt="{{title}} feature image" width="602" height="400">
    {{/if}}
    <div class="title">
      <h3>{{ title }}</h3>
    </div>
  </a>
{{/foreach}}
