{{#if feature_image}}
<a href="{{url}}" class="article">
{{else}}
<a href="{{url}}" class="article noimg">
{{/if}}
	{{#if feature_image}}
		<picture class="lozad background" data-alt="{{title}} feature image">
			<source srcset="{{feature_image}}.avif?avif=1&width=320" type="image/avif" width="320">
			<source srcset="{{feature_image}}.webp?webp=1&width=320" type="image/webp" width="320">
			<source srcset="{{feature_image}}?width=320" width="320">
		</picture>
	{{else}}
		<img class="lozad background" data-src="{{asset "logo/icon_white.svg"}}" alt="{{title}} feature image" width="621" height="600">
	{{/if}}
	<div class="meta">
		<small>{{date published_at format="YYYY年M月D日"}}</small>
		<br>
		<strong>{{title}}</strong>
		<div class="author">
			{{#foreach authors limit="2"}}
				{{#if @first}}
					{{#if profile_image}}
						<img class="lozad" data-src="{{profile_image}}" alt="{{name}} icon" height="256" width="256">
					{{else}}
						<img class="lozad" data-src="https://q.trap.jp/api/v3/public/icon/traP" alt="{{name}} icon" height="256" width="256">
					{{/if}}
					<span>{{name}}</span>
				{{else}}
					<span class="others">他</span>
				{{/if}}
			{{/foreach}}
		</div>
	</div>
</a>
