{{!< default}}
{{#post}}
{{#if feature_image}}
	<section id="eyecatch" style="background-image: url('{{feature_image}}')">
{{else}}
	<section id="eyecatch" class="noimg">
{{/if}}
{{#is "page"}}
	<div class="post-head page-head">
		<h1>{{title}}</h1>
	</div>
{{else}}
	<div class="post-head">
		<p class="meta">
			{{date published_at format="YYYY年M月D日"}}
			|
			{{#has tag="お知らせ"}}
				<a href="/tag/news">お知らせ</a>
			{{/has}}
			{{#has tag="作品紹介"}}
				<a href="/tag/works">作品紹介</a>
			{{/has}}
			{{^has tag="お知らせ,作品紹介"}}
				<a href="/page/1/">ブログ記事</a>
			{{/has}}
		</p>
		<h1>{{title}}</h1>
		<div class="tags">
			{{tags separator=" "}}
		</div>
	</div>
	{{#author}}
		<div class="author">
			<a href="{{url}}">
				{{#if profile_image}}
					<img src="{{profile_image}}">
				{{else}}
					<img src="https://q.trap.jp/api/1.0/public/icon/traP">
				{{/if}}
				<span>{{name}}</span>
			</a>
		</div>
	{{/author}}
{{/is}}
</section>
<article>
	{{content}}
</article>
{{^is "page"}}
	<section id="author-detail">
		{{#author}}
			<a href="{{url}}">
				{{#if profile_image}}
					<img src="{{profile_image}}">
				{{else}}
					<img src="https://q.trap.jp/api/1.0/public/icon/traP">
				{{/if}}
			</a>
			<div>
				<small>この記事を書いた人</small>
				<br>
				<a class="name" href="{{url}}">{{name}}</a>
				{{> author-link}}
				<p>{{bio}}</p>
			</div>
		{{/author}}
	</section>
{{/is}}
<section id="share">
	<h1>この記事をシェア</h1>
	<div>
		{{!-- Google+ --}}
		<script src="https://apis.google.com/js/platform.js" async defer>{lang: 'ja'}</script>
		<div class="g-plus" data-action="share" data-annotation="bubble"></div>
		{{!-- Twitter --}}
		<a href="https://twitter.com/share" class="twitter-share-button" data-via="traPtitech" data-lang="ja">ツイート</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
		{{!-- Hatena bookmark --}}
		<a href="http://b.hatena.ne.jp/entry/" class="hatena-bookmark-button" data-hatena-bookmark-layout="standard-balloon" data-hatena-bookmark-lang="ja" title="このエントリーをはてなブックマークに追加"><img src="https://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a>
		<script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
		{{!-- Facebook --}}
		<div class="fb-like" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.6";
		fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
	</div>
</section>
{{/post}}
{{^is "page"}}
	<iframe id="hyakkiyagyo" scrolling="no" src="https://sysad.trap.show/hyakkiyagyo/page/{{post.slug}}/"></iframe>
	{{#get "posts" filter="tags:[{{post.tags}}]+id:-{{post.id}}" include="tags,author" limit="6"}}
		{{#if posts.length}}
			<section id="postlist">
				<h1>関連する記事</h1>
				<div class="articles">
					{{#foreach posts}}
						{{> post-link}}
					{{/foreach}}
				</div>
			</section>
		{{/if}}
	{{/get}}
{{/is}}
