{{#if feature_image}}
<a href="{{url}}" class="article">
{{else}}
<a href="{{url}}" class="article noimg">
{{/if}}
	{{#if feature_image}}
		<img class="lozad background" data-src="{{feature_image}}?width=320">
	{{else}}
		<img class="lozad background" data-src="{{asset "logo/icon_white.svg"}}">
	{{/if}}
	<div class="meta">
		<small>{{date published_at format="YYYY年M月D日"}}</small>
		<br>
		<strong>{{title}}</strong>
		<div class="author">
			{{#foreach authors limit="2"}}
				{{#if @first}}
					{{#if profile_image}}
						<img class="lozad" data-src="{{profile_image}}">
					{{else}}
						<img class="lozad" data-src="https://q.trap.jp/api/1.0/public/icon/traP">
					{{/if}}
					<span>{{name}}</span>
				{{else}}
					<span class="others">他</span>
				{{/if}}
			{{/foreach}}
		</div>
	</div>
</a>
